= simple_form_for(@pull_list) do |f|
  = f.error_notification

  .inputs
    = f.input :file
	
    = f.input :pull_id do
      =f.collection_select :pull_id, :id   
	
  .actions
    = f.button :submit
	