= page_header @pull_list.id

#pull_list-detail
  %p
    %b= link_to @pull_list.pull.name, @pull_list.pull
  %p
    %b File:
    = @pull_list.file

= link_to 'Edit', edit_pull_list_path(@pull_list)
\|
= link_to 'Back', pull_lists_path
