= page_header 'Edit user', @user.full_name

= simple_form_for(@user) do |f|
  = f.error_notification

  .inputs
    = f.input :first_name
    = f.input :last_name
    = f.input :email, required: true

  .actions
    = f.button :submit

= link_to 'Show', @user
\|
= link_to 'Back', users_path
