= page_header 'Welcome to the ICRC Pull Tracker'
%p
	#{Time.now.strftime("%m/%d/%Y")}
	#{Time.now.strftime("%I:%M%p")}
%br/

%table#pulls-table
	%th ID
	%th Status
	%th Description
	-@pulls.each do |pull|
		%tr
			%td= pull.id
			%td= pull.status
			%td= pull.description
%br