= page_header 'Welcome to the ICRC Pull Tracker'
%p
	#{Time.now.strftime("%m/%d/%Y")}
	#{Time.now.strftime("%I:%M%p")}
%br/

%h1 Pull Summary
-if @pulls
	@pulls.each do |pull|
	%h3
		= pull.id
		= pull.status
	=sanitize(pull.description)
	.Status_line
	%span.status=pull.status