= page_header 'Welcome to the ICRC Pull Tracker'

%p= Time.now.strftime("%m/%d/%Y %I:%M %p")

%table.table.table-responsive.table-bordered.table-hover#pulls-table
  %th ID
  %th Status
  %th Description
  -@pulls.each do |pull|
    %tr
      %td= pull.id
      %td= pull.status
      %td= pull.description
