= simple_form_for(@pull) do |f|
  = f.error_notification

  .inputs
    
    = f.input :status
	
    = f.input :description

    = f.input :study

    = f.input :participant_type

    = f.input :visit_type
	
    = f.input :specimen_type

    = f.input :lab

    = f.input :procedure

    = f.input :hold

    = f.input :repository_notes

    = f.input :mta_number

    = f.input :specimen_count

    = f.input :not_found_count

    = f.input :scanned_count

    = f.input :shipped_count
	
    = f.input :target_completion_date

  .actions
    = f.button :submit
