= page_header 'Pulls'

%table.table.table-responsive.table-hover#pulls-table
  %tr
    %th ID
    %th Status
    %th Description
    %th Specimen type
    %th Study
    %th Participant type
    %th Visit type
    %th Lab
    %th Procedure
    %th Target completion date
    %th Hold
    %th Repository notes
    %th Total specimens requested
    %th Total scanned
    %th Total shipped
    %th Total not found
    %th
    %th
    %th

  - @pulls.each do |pull|
    %tr
      %td= pull.id
      %td= pull.status
      %td= link_to pull.description, pull_path(pull)
      %td= pull.specimen_type
      %td= pull.study
      %td= pull.participant_type
      %td= pull.visit_type
      %td= pull.lab
      %td= pull.procedure
      %td= pull.target_completion_date
      %td= pull.hold
      %td= pull.repository_notes
      %td= pull.specimen_count
      %td= pull.scanned_count
      %td= pull.shipped_count
      %td= pull.not_found_count

      %td= link_to 'Edit', edit_pull_path(pull), :class => 'btn btn-mini'
      %td= link_to 'Destroy', pull, :method => :delete, :confirm => 'Are you sure you want to delete this pull?',  :class =>'btn btn-mini btn-danger'

%br

= link_to 'New Pull', new_pull_path, :class =>'btn btn-primary'
