= page_header @pull.id

#pull-detail
  %p
    %b ID:
    =@pull.id
  %p
    %b Status:
    = @pull.status
  %p
    %b Description:
    = @pull.description
  %p
    %b Specimen type:
    = @pull.specimen_type
  %p
    %b Study:
    = @pull.study
  %p
    %b Participant type:
    = @pull.participant_type
  %p
    %b Visit type
    = @pull.visit_type
  %p
    %b Lab:
    = @pull.lab
  %p
    %b Procedure:
    = @pull.procedure
  %p
    %b Target completion date:
    = @pull.target_completion_date
  %p
    %b Hold:
    = @pull.hold
  %p
    %b Repository notes:
    = @pull.repository_notes
  %p
    %b Total specimens requested:
    = @pull.specimen_count
  %p
    %b Has Total scanned:
    = @pull.scanned_count
  %p
    %b Total shipped:
    = @pull.shipped_count
  %p
    %b Total not found:
    = @pull.not_found_count

  %p
    %b File location:
    = @pull.pull_lists.each { |pull_list| link_to pull_list.file, pull_list}

  %p
    %b Manifests:
    = @pull.pull_manifests.each { |pull_manifest| link_to pull_manifest.file, pull_manifest}

= link_to 'Edit', edit_pull_path(@pull)
\|
= link_to 'Back', pulls_path
